@model ChatModel
@using WebRazor.Models;
@{
    //List<Chat> messageHistory = Model.historyMessage.OrderByDescending(x => x.CreateDate).ToList();
    List<Chat> messageHistory = Model.historyMessage.ToList();
    int ID = Model.accountID;
    int? id;
    String name;
}

<div class="contacts p-2 flex-1 overflow-y-scroll">
    @if (messageHistory != null)
    {
        foreach (Chat m in messageHistory)
        {
            if (m.ToUser == ID) {
                id = m.FromUser;
                name = Model.listAccountMess.Where(x => x.AccountId == m.FromUser).FirstOrDefault().Email;
            }
            else
            {
                id = m.ToUser;
                name = Model.listAccountMess.Where(x => x.AccountId == m.ToUser).FirstOrDefault().Email;
            }
            
            <a href="./Chat?toUserId=@id">
                <div class="flex justify-between items-center p-3 hover:bg-gray-100 rounded-lg relative">
                    <div class="w-16 h-16 relative flex flex-shrink-0">
                        <img class="shadow-md rounded-full w-full h-full object-cover"
                     src="/Image/user.png"
                     alt="" />
                    </div>
                    <div class="flex-auto min-w-0 ml-4 mr-6 hidden md:block">
                        <p>@name</p>
                        <div class="flex items-center text-sm text-gray-600">
                            <div class="min-w-0">
                                <p class="truncate">@m.Message</p>
                                <p>@m.CreateDate</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        }
    }
    
</div>