@page "{handler?}"
@model WebRazor.Pages.Account.LoginModel
@{
}
<div id="form">
    <div id="form-title">
        <span><a href="signup.html">SIGN UP</a></span>
        <span><a href="signin.html" style="color: red;">SIGN IN</a></span>
    </div>
    <div id="form-content">
        <form action="" method="post">
            <span class="msg-error">@ViewData["msg"]</span><br />

            <label>Email<span style="color: red;">*</span></label><br />
            <input type="text" asp-for="Account.Email" /><br />
            <span class="msg-error" asp-validation-for="Account.Email"></span><br />

            <label>Password<span style="color: red;">*</span></label><br />
            <input type="password" asp-for="Account.Password" /><br />
            <span class="msg-error" asp-validation-for="Account.Password"></span><br />

            <input type="submit" value="SIGN IN" /><br />
            
        </form>
    </div>
</div>